.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: Black;
}
nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-flow: row nowrap;
  width: 100%;
}
.link {
  background-color: white;
  border-radius: 15%;
  border: white 2px solid;
  margin: 5%;
  width: 30%;
}

.App-link {
  color: #61dafb;
}

.friendList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.friendPanel {
  border: white 2px solid;
  border-radius: 12%;
  width: 45%;
  margin-bottom: 15px;
  background-color: lightslategray;
  color: white;
}
form {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.login {
  background-color: lightslategray;
  width: 500px;
  height: 200px;
  border: white 2px solid;
  border-radius: 12%;
}

.login button {
  width: 60%;
}

.editFriend {
  background-color: lightslategray;
  width: 500px;
  height: 200px;
  border: white 2px solid;
  border-radius: 12%;
  justify-content: left;
}
